body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: #dfe6e9;
}

header {
  z-index: 1;
  position: fixed;
  background: #22242a;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area h3 a {
  text-decoration: none;
  color: #fff;
}

.left_area span {
  color: #ee5253;
}

.logout_btn {
  padding: 5px;
  background: #ee5253;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
  background: #ee5253;
}

.sidebar {
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background: #ee5253;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #ee5253;
}

#check:checked~.sidebar {
  left: -185px;
}

#check:checked~.sidebar a span {
  display: none;
}

#check:checked~.sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  max-height: 100%;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#check:checked~.content {
  margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

/* CSS ADMIN CONTENT START */
.content .result_book{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.content .result_book .book{
  width: 15%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
}
.content .result_book .book .img_containter{
  width: 100%;
  height: 80%;
}
.content .result_book .book .img_containter img{
  width: 100%;
  height: 100%;
}
/* CSS ADMIN CONTENT END */
.content .inputForm {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content .inputForm .grupo-input {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .inputForm .grupo-input label {
  font-family: "Roboto Slab", serif;
  color: #22242a;
  font-weight: 600;
  font-size: 1.4em;
  text-align: center;
  width: 50%;
  height: 5vh;
}

.content .inputForm .grupo-input input {
  border: none;
  width: 50%;
  height: 4vh;
  border-radius: 3px;
  margin: 10px;
  text-align: center;
  font-size: 1.1em;
  background: rgba(255, 255, 255, .7);
  border-bottom: 3px solid #222;
  transition: .3s border;
}

.content .inputForm .grupo-input select {
  border: none;
  width: 50%;
  height: 4vh;
  border-radius: 3px;
  margin: 10px;
  text-align: center;
  font-size: 1.1em;
  background: rgba(255, 255, 255, .7);
  border-bottom: 3px solid #222;
  transition: .3s border;
}

.content .inputForm .grupo-input input[type=text]:focus, .content .inputForm .grupo-input input[type=email]:focus, .content .inputForm .grupo-input input[type=tel]:focus, .content .inputForm .grupo-input input[type=date]:focus, .content .inputForm .grupo-input input[type=password]:focus {
  border-bottom: 3px solid #ee5253;
}

.botones {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones button {
  width: 10%;
  height: 50px;
  border: none;
  margin: 10px;
  font-size: 1.3em;
  color: #ee5253;
  background: #222;
  border-radius: 3px;
}

/* FORM STYLE START */

/* FORM STYLES END */

/* RESPONSIVE TABLE END */

/* CSS ADMIN CONTENT END */

@media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content .result_book{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .content .result_book .book{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    text-align: center;
  }
  .content .book .img_containter img {
    width: 100%;
    height: auto;
  }
  .content .book .overlay {
    width: 100%;
  }
  #sidebar_btn {
    display: none;
  }
  #check:checked~.content {
    margin-left: 0;
  }
  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }
  .nav_bar {
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  .nav_bar .nav_btn:hover {
    color: #ee5253;
  }
  .mobile_nav_items {
    background: #2f323a;
    display: none;
  }
  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .mobile_nav_items a:hover {
    background: #ee5253;
  }
  .mobile_nav_items i {
    padding-right: 10px;
  }
  .active {
    display: block;
  }
  .content .inputForm {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content .inputForm .grupo-input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botones button {
    width: 25%;
    height: 50px;
    border: none;
    margin: 10px;
    font-size: 1.3em;
    color: #ee5253;
    background: #222;
    border-radius: 3px;
  }
}

@media screen and (max-width: 490px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content .book {
    width: 70%;
    height: 10%;
    margin: 10px;
  }
  .content .book .img_containter {
    width: 100%;
    height: 70%;
  }
  .content .book .img_containter img {
    width: 100%;
    height: auto;
  }
  .content .book .overlay {
    width: 100%;
  }
  #sidebar_btn {
    display: none;
  }
  #check:checked~.content {
    margin-left: 0;
  }
  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }
  .nav_bar {
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  .nav_bar .nav_btn:hover {
    color: #ee5253;
  }
  .mobile_nav_items {
    background: #2f323a;
    display: none;
  }
  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .mobile_nav_items a:hover {
    background: #ee5253;
  }
  .mobile_nav_items i {
    padding-right: 10px;
  }
  .active {
    display: block;
  }
  .content .result_book{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .content .result_book .book{
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
  }
  .content .tablaLibro {
    width: 100%;
  }
  .content .tablaLibro table {
    border: 0px;
    width: 100%;
  }
  .content .tablaLibro table caption {
    font-size: 1.3em;
  }
  .content .tablaLibro table thead {
    display: none;
  }
  .content .tablaLibro table tbody tr {
    width: 100%;
    margin-bottom: 8px;
    border-bottom: 4px solid #DDD;
    display: block;
  }
  .content .tablaLibro table tbody tr td {
    width: 90%;
    font-size: 12px;
    display: block;
    text-align: right;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
  }
  .content .tablaLibro table tbody tr td::before {
    content: attr(data-label);
    font-weight: 700;
    font-size: 1.3em;
    float: left;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
  }
  .content .tablaLibro table tbody td:hover {
    background-color: #ee5253;
  }
  .content .inputForm {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content .inputForm .grupo-input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .inputForm .grupo-input label {
    font-family: "Roboto Slab", serif;
    color: #22242a;
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    height: 5vh;
  }
  .content .inputForm .grupo-input input {
    border: none;
    width: 100%;
    height: 4vh;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
    font-size: 1.1em;
    background: rgba(255, 255, 255, .7);
    border-bottom: 3px solid #222;
    transition: .3s border;
  }
  .botones button {
    width: 50%;
    height: 50px;
    border: none;
    margin: 10px;
    font-size: 1.3em;
    color: #ee5253;
    background: #222;
    border-radius: 3px;
  }
}